<%= form_with(model: Post.new, local: true) do |form| %>
    <div class="post_content">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>

    <%= form.submit %>
    <h1>ブログ一覧</h1>

    <table>
      <tr>
        <th>内容</th>
      </tr>
    
    <% @posts.each do |post| %>
      <tr>
        <td><%= posts.content %></td>
      </tr>
    <% end %>

    <%= link_to 'Tubuyakuu一覧画面に戻る', posts_path %>
    <%= link_to '新しくTubuyakuu〜', new_blog_path %>
    </table>
  <% end %>